.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
.order-confirmation-container {
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #F9F9F9;
  }
.home-button {
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #007BFF;
    color: white;
    border: none;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    width: 150px;
}
.home-button:hover {
    background-color: #0056B3;
  }
.purchase-details {
    margin-bottom: 20px;
  }
.message {
    font-style: italic;
  }